extends layout

block content
    h1 Sign in
    label(for="username") Username:
        input#username(type="text", name="username")
    p
    label(for="password") Password:
        input#password(type="password", name="password")
    p
    input#signIn(type="button", value="Sign in")
    p
    a(href="/register") Create a new account
    p
    p#error(style="display:none"): b(style="color:red") Wrong username or password
    p#success(style="display:none"): b(style="color:green") Authentication succeeded
    p
    p#message

    script(src="/scripts/srp.js")