extends layout

block content
    h1 Register
    label(for="username") Username:
        input#username(type="text", name="username")
    p
    label(for="password") Password:
        input#password(type="password", name="password")
    p
    input#register(type="button", value="Register")
    p
    a(href="/") I have an account already
    p
    p#error(style="display:none"): b(style="color:red") Username already taken
    p#success(style="display:none"): b(style="color:green") Account created successfully

    script(src="/scripts/register.js")